{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../css/admin/commentList.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-1">
            <a href="/admin/accueil">
                <img id="img-home" src="../img/pictos/arrow-105-64.png" alt="Flèche gauche">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Gestion des commentaires</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-10 table-responsive">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="wait-list" data-toggle="tab" href="#wait" role="tab" aria-controls="wait" aria-selected="true">En attente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="online-list" data-toggle="tab" href="#online" role="tab" aria-controls="online" aria-selected="false">En ligne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="closed-list" data-toggle="tab" href="#closed" role="tab" aria-controls="closed" aria-selected="false">Refusés</a>
                </li>
            </ul>

             <div class="tab-content" id="myTabContent">
                 <div class="tab-pane fade show active" id="wait" role="tabpanel" aria-labelledby="wait-list">
                     <table class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr class="table-dark">
                             <th scope="col">Nom</th>
                             <th scope="col">Message</th>
                             <th scope="col">Date</th>
                             <th scope="col">Titre article</th>
                             <th scope="col">Actions</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for comment in commentCollection %}
                             {% if comment.validation == 0 %}
                                 <tr>
                                     <td scope="col">{{ comment.pseudo }}</td>
                                     <td scope="col">{{ comment.message }}</td>
                                     <td scope="col">{{ comment.addDate|date('d/m/Y') }}</td>
                                     <td scope="col"><a href="{{ "/blog-post/" ~ comment.articleSlug }}">{{ comment.articleName }}</a></td>
                                     <td scope="col">
                                         <a href="{{ "/admin/online-comment/" ~ comment.id }}"><img src="../img/pictos/ok-32.png" alt="ok"></a>
                                         <a href="{{ "/admin/close-comment/" ~ comment.id }}"><img src="../img/pictos/x-mark-3-32.png" alt="croix rouge"></a>
                                     </td>
                                 </tr>
                             {% endif %}
                         {% endfor %}
                         </tbody>
                     </table>
                 </div>

                 <div class="tab-pane fade" id="online" role="tabpanel" aria-labelledby="online-list">
                     <table class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr class="table-dark">
                             <th scope="col">Nom</th>
                             <th scope="col">Message</th>
                             <th scope="col">Date</th>
                             <th scope="col">Titre article</th>
                             <th scope="col">Action</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for comment in commentCollection %}
                             {% if comment.validation == 1 %}
                                 <tr>
                                     <td scope="col">{{ comment.pseudo }}</td>
                                     <td scope="col">{{ comment.message }}</td>
                                     <td scope="col">{{ comment.addDate|date('d/m/Y') }}</td>
                                     <td scope="col"><a href="{{ "/blog-post/" ~ comment.articleSlug }}">{{ comment.articleName }}</a></td>
                                     <td scope="col">
                                         <a href="{{ "/admin/close-comment/" ~ comment.id }}"><img src="../img/pictos/x-mark-3-32.png" alt="croix rouge"></a>
                                     </td>
                                 </tr>
                             {% endif %}
                         {% endfor %}
                         </tbody>
                     </table>
                 </div>

                 <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-list">
                     <table class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr class="table-dark">
                             <th scope="col">Nom</th>
                             <th scope="col">Message</th>
                             <th scope="col">Date</th>
                             <th scope="col">Titre article</th>
                             <th scope="col">Action</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for comment in commentCollection %}
                             {% if comment.validation == 2 %}
                                 <tr>
                                     <td scope="col">{{ comment.pseudo }}</td>
                                     <td scope="col">{{ comment.message }}</td>
                                     <td scope="col">{{ comment.addDate|date('d/m/Y') }}</td>
                                     <td scope="col"><a href="{{ "/blog-post/" ~ comment.articleSlug }}">{{ comment.articleName }}</a></td>
                                     <td scope="col">
                                         <a href="{{ "/admin/online-comment/" ~ comment.id }}"><img src="../img/pictos/ok-32.png" alt="ok"></a>
                                     </td>
                                 </tr>
                             {% endif %}
                         {% endfor %}
                         </tbody>
                     </table>
                 </div>
             </div>
        </div>
        {% if session.success %}
            <div id="validation-form">
                <img src="../img/pictos/ok-128.png" alt="ok symbole">
                <p>{{ session.success|raw }}</p>
            </div>
        {% endif %}

        {% if session.error %}
            <div id="error-form">
                <img src="../img/pictos/error-5-128.png" alt="erreur symbole">
                <p>{{ session.error|raw }}</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}