{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../css/blog/article.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/blog/cercleDate.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block header %}
    <div class="row return-row">
        <div class="col-3 col-lg-1">
            <a href="/accueil"><img id="img-home" src="../img/pictos/house-64-white.png" alt="Maison picto"></a>
        </div>
        <div class="col-9 col-lg-3 return">
            <h4><a href="/accueil">Retour à l'accueil</a></h4>
        </div>
    </div>
    <div class="row return-row">
        <div class="col-3 col-lg-1">
            <a href="/liste-blog-post"><img id="img-return" src="../img/pictos/arrow-105-64.png" alt="Flèche gauche"></a>
        </div>
        <div class="col-9 col-lg-3 return">
            <h4><a href="/liste-blog-post">Retour à la liste des articles</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>{{ article.title }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container blog-post-container">
        <div class="row article-row">
            <div class="col-6 offset-3 col-sm-4 offset-sm-4 col-md-3 offset-md-0 col-lg-2">
                {% include 'blog\\dateCercle.html.twig' %}
                <p id="publish">Publié par:</p>
                <p id="author">{{ admin.name}} {{ admin.firstName}}</p>
            </div>

            <div id="content" class="col-12 col-md-9 col-lg-10">
                <h2>{{ article.resume }}</h2>
                <p>{{ article.content | nl2br }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6 offset-3" id="form-block">
                <p id="formTitle">Qu'en pensez vous?</p>
                <form action="/post-comment" method="post">
                    <div class="row">
                        <div class="col-6">
                            <label for="nom">Nom</label>
                            <input type="text" name="nom" id="nom" required/>
                        </div>
                        <div class="col-6">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" required/><br>
                        </div>
                        <div class="col-12">
                            <label for="message">Message</label><br>
                            <textarea name="message" id="message" cols="50" rows="4" required></textarea>
                        </div>
                        <div class="col-12 text-center">
                            <div class="g-recaptcha" data-sitekey="6LeJCnQUAAAAAOlqRpKqFm-4oo8i71Luuo0j_S_F"></div>
                        </div>
                        <input type="hidden" name="id_blog_post" id="id_blog_post" value="{{ article.id }}">
                        <input type="hidden" name="slug" id="slug" value="{{ article.slug }}">
                        <input type="hidden" name="token" id="token" value="{{ token }}">
                        <div class="col-12">
                            <p id="subP"><input type="submit" value="Valider" id="submit"/></p>
                        </div>
                    </div>

                    {% if session.success %}
                        <div id="validation-form">
                            <img src="../img/pictos/ok-128.png" alt="ok symbole">
                            <p>{{ session.success|raw }}</p>
                        </div>
                    {% endif %}

                    {% if session.error %}
                        <div id="error-form">
                            <img src="../img/pictos/error-5-128.png" alt="erreur symbole">
                            <p>{{ session.error|raw }}</p>
                        </div>
                    {% endif %}


                </form>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-10">
                <p id="numComments">{{ nbComment }} commentaires</p>
            </div>

        </div>

        {% for comment in commentCollection %}
            <div class="row justify-content-center">
                <div class="col-10 article-box">
                    <span class="pseudo">{{ comment.pseudo }}</span>
                    <span class="bull"> &bull; </span>
                    <span class="date">le {{ comment.addDate|date('d/m/Y à H\\h i\\m\\i\\n s\\s') }}</span>
                    <br>
                    <p class="message">{{ comment.message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}